.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 110);
}

.boxes {
    background-color: white;
    outline: 1px solid black;
}

.hovered {
    background-color: black;
}

.untouched {
    background-color: rgb(255, 255, 255);
}