.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 110);
}

.boxes {
    background-color: rgb(255, 117, 117);
    outline: 1px solid black;
}

